<div class="glide bluebanner">
    <div class="glide__track" data-glide-el="track">
        <ul class="glide__slides">
            <li class="glide__slide"><importer src="banners/lego.html"></importer></li>
            <li class="glide__slide"><importer src="banners/juguetron.html"></importer></li>
            <li class="glide__slide"><importer src="banners/hastings.html"></importer></li>
            <li class="glide__slide"><importer src="banners/carters.html"></importer></li>
            <li class="glide__slide"><importer src="banners/modelorama.html"></importer></li>
            <li class="glide__slide"><importer src="banners/bebenetton.html"></importer></li>
            <li class="glide__slide"><importer src="banners/ultra.html"></importer></li>
            <li class="glide__slide"><importer src="banners/thehomedepot.html"></importer></li>
            <li class="glide__slide"><importer src="banners/yza.html"></importer></li>
            <li class="glide__slide"><importer src="banners/blue.html"></importer></li>
            <li class="glide__slide"><importer src="banners/diablos.html"></importer></li>
            <li class="glide__slide"><importer src="banners/samsung.html"></importer></li>
            <li class="glide__slide"><importer src="banners/puntosmas.html"></importer></li>
            <li class="glide__slide"><importer src="banners/rfp.html"></importer></li>
            <li class="glide__slide"><importer src="banners/recompensas.html"></importer></li>
            <li class="glide__slide"><importer src="banners/fleetguard.html"></importer></li>
            <li class="glide__slide"><importer src="banners/puntosimpulsora.html"></importer></li>
            <li class="glide__slide"><importer src="banners/clublumen.html"></importer></li>
            <li class="glide__slide"><importer src="banners/redm.html"></importer></li>
            <li class="glide__slide"><importer src="banners/pagina1.html"></importer></li>
            <li class="glide__slide"><importer src="banners/gbglobal.html"></importer></li>

            <li class="glide__slide"><importer src="banners/blueloyalty.html"></importer></li>
            <li class="glide__slide"><importer src="banners/bluemodular.html"></importer></li>
            <li class="glide__slide"><importer src="banners/bluecrm.html"></importer></li>
            <li class="glide__slide"><importer src="banners/bluetec.html"></importer></li>
        </ul>
    </div>
    
    <div class="position-absolute bottom-0 start-0 z-3 w-100"><blue-pleca></blue-pleca></div>

    <div class="glide__arrows" data-glide-el="controls">
        <button class="glide__arrow glide__arrow--left" data-glide-dir="<">
            <i class="fa-solid fa-caret-left"></i>
        </button>
        <button class="glide__arrow glide__arrow--right" data-glide-dir=">"><i class="fa-solid fa-caret-right"></i></button>
    </div>
</div>