  <!-- CONTACTO-->
  <!-- ##########################-->
  <section id="contacto">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col text-center">
          <h2 class="mb-5" data-l="DISCOVER THE POWER OF LOYALTY">Descubre el poder de la Lealtad</h2>
          <h3 class="mb-5" data-l="Contact us">Contáctanos</h3>
        </div>
    </div>
      <div class="row justify-content-center text-center">
        
        <!-- >>>>>>>>>>>>>>>>>>>>>>-->
        <!-- Mexico ####-->
        <div class="col-md-6 sucursales">
          <div class=" row">
          <div class="col-md-6">
            <div>  <h3 data-l="USA">EUA</h3>
              <img class="img-fluid" src="app/images/sucursales/usa.jpg" style="width: 50%;">
              <p><span><!--<a class="contact" href="mailto:info@bluepureloyalty.com">info@bluepureloyalty.com</a><br>-->
                <a class="contact" href="tel:6504364080">650 436 4080</a><img src="app/images/contacto/bullet.png" alt=""><a class="contact" href="tel:18002608272">1 800 260 8272</a>
                   </span><br>
                    
                <span data-l="Monday to Friday ">Lunes a Viernes</span> <span data-l=" from 9:00 to 18:00 hours">de 9:00 a 18:00 horas</span><br><span data-l="Central Standard Time (CST)">Hora Estándar del Centro</span></p>
             </div>
    
  
            
          </div>
          <div class="col-md-6">
       <div><h3 data-l="MEXICO">MÉXICO</h3>
              <img class="img-fluid" src="app/images/sucursales/mexico.jpg" style="width: 50%;">
              <p>
               <!--<span><a class="contact" href="mailto:info@bluepureloyalty.mx">info@bluepureloyalty.mx</a></span><br>-->
                <span><a class="contact" href="tel:5589322050">55 8932 2050</a></span><br>
                <span data-l="Monday to Friday from 9:00 to 18:00 hours">Lunes a Viernes de 9:00 a 18:00 horas</span><br><span data-l="Mexico Central Time">Hora del Centro de México</span><br><span>
                  </span></p></div>
  
            
          </div>
          <div class="col-md-12 ">
            <div class="justify-content-center text-center" ><h4><a class="contact" href="mailto:info@bluepureloyalty.com">info@bluepureloyalty.com</a></h4></div>
            <div class="justify-content-center text-center"><span style="color: #797F86;">3000 El Camino Real Building 4 Suite 200<br>Palo Alto CA, 94306</span></div>
          </div>
         
        </div>
        </div>
      
        <!-- >>>>>>>>>>>>>>>>>>>>>>-->
         <!-- formulario ####-->
         <div class="col-md-6 col-sm-6">
					
						
          <form class="needs-validation" id="ContactForm" novalidate>
            <div class="form-row">
            <div class="col-lg-6 col-md-12 col-sm-12 mb-3">
              <label for="TbxName" data-l="Name *">Nombre *</label>
              <input type="text" class="form-control" id="TbxName" maxlength="50" required>
              <div class="invalid-feedback" data-l="Enter your name">
                Ingrese su nombre
              </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 mb-3">
              <label for="TbxCompany" data-l="Company *">Nombre de la compañía *</label>
              <input type="text" class="form-control" id="TbxCompany" maxlength="100" required>
              <div class="invalid-feedback" data-l="Enter your company name">
                Ingrese el nombre de la compañía
              </div>
            </div>
            </div>
            <div class="form-row">
            <div class="col-lg-6 col-md-12 col-sm-12 mb-3">
              <label for="TbxEmail" data-l="Email *">Correo electrónico *</label>
              <input type="email" class="form-control" id="TbxEmail" pattern="\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*" maxlength="60" required>
              <div class="invalid-feedback" data-l="Enter a valid email">
                Ingrese un correo electrónico válido
              </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 mb-3">
              <label for="TbxPhone" data-l="Phone">Teléfono</label>
              <input type="tel" class="form-control" id="TbxPhone" pattern="^[\d]{10}$" maxlength="10">
              <div class="invalid-feedback" data-l="Enter a valid phone">
              Ingrese un teléfono válido
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-12 mb-3">
              <label for="DdlService" data-l="Please select the Solutions & Building Blocks Services in which you are interested *">Seleccione las Soluciones y Servicios Modulares que le interesan *</label>
              <div class="ddl-services" id="DdlService" data-l="Select">Seleccione</div>
              <div class="invalid-feedback" data-l="Select an option" id="ErrorServicesMessage">
                Seleccione una opcion
              </div>
            </div>
            </div>
            
            <div class="form-row">
            <div class="col-md-12 mb-3">
              <label for="TbxComments" data-l="Comments">Comentarios</label>
              <textarea type="textarea" class="form-control tbx-textarea" id="TbxComments" maxlength="150" rows="2" cols="20"></textarea>
             </div>
            </div>
            
            <div class="br-2"></div>
            
            <div class="form-group" data-l="* Required information">
             * Información requerida
            </div>
            
            <div class="form-group">
             <input type="checkbox" name="ChkBxTerms" id="ChkBxTerms" value="0" required /> <span data-l="I agree to the Blue Pure Loyalty">Acepto los términos y condiciones del </span> <a href="#" data-bs-toggle="modal" data-bs-target="#aviso" data-l="Privacy Policy">Aviso de Privacidad</a> <span data-l="">de Blue Pure Loyalty.</span>
             <div class="invalid-feedback" data-l="Please accept the Privacy Policy">
              Por favor acepte el Aviso de Privacidad
             </div>
            </div>
            
            <button class="btn btn-primary" type="submit" id="BtnSubmit" data-l="Send">Enviar</button>
          </form>
          
          <div class="contact-msg animate__animated"></div>
        
      </div>
      </div>
      <input type="hidden" id="HfCountry" value="mx" />
		<input type="hidden" id="HfLanguage" value="es" />

    <div class="main-popup-message animated popup-color1" id="PopupMessage">

      <div class="mppm-popup-box">
        <div class="mppm-popup-close ClosePopupMessage"></div>
        <div class="mppm-popup-logo"><img src="https://bluepureloyalty.com/app/images/blue/BluePureLoyalty.svg" /></div>
        <div class="mppm-popup-pleca"><span></span><span></span><span></span><span></span><span></span><span></span></div>
        <div class="mppm-popup-text2" id="popup_message">
          
        </div>
        <div class="mppm-popup-image"><img src="https://bluepureloyalty.com/app/images/blue/PoweredbyBlue.svg" /></div>
        <div class="mppm-popup-footer"><img src="https://bluepureloyalty.com/app/images/blue/Blue_Circle.svg" /></div>
  
      </div>

      
    </div>

    <div class="main-popup-message animated popup-color1" id="PopupServices">

      <div class="mppm-popup-box-vs">
        <div class="mppm-popup-close ClosePopupServices"></div>
        
        <div class="mppm-popup-text-vs">
          
          <div class="mppm-service-title" data-l="Please select the Solutions & Building Blocks Services in which you are interested">Seleccione las Soluciones y Servicios Modulares que le interesan:</div>
          
          <!-- <div class="item-service-title-icon"><img src="https://cdn.myblueengine.com/DigitalFamily/Iconos/subicon-learninghub.svg" /></div> -->
          <div class="item-service-title" data-l="Solutions">Soluciones</div>
          
          <div class='item-service'><input type='checkbox' name='ChkBxLstServices' value='1' data-image='https://bluepureloyalty.com/app/images/popup/B2C.svg' data-service='Blue B2C - Programas de Lealtad para clientes' data-service-l='Blue B2C - Loyalty Programs for end customers' /> <div class='item-service-image'><img src='https://bluepureloyalty.com/app/images/popup/B2C.svg' /></div><div class='item-service-text' data-l='Blue B2C - Loyalty Programs for end customers'>Blue B2C - Programas de Lealtad para clientes</div></div>
          <div class='item-service'><input type='checkbox' name='ChkBxLstServices' value='2' data-image='https://bluepureloyalty.com/app/images/popup/B2B.svg' data-service='Blue B2B - Programas de Lealtad para clientes corporativos' data-service-l='Blue B2B - Loyalty Programs for corporate customers' /> <div class='item-service-image'><img src='https://bluepureloyalty.com/app/images/popup/B2B.svg' /></div><div class='item-service-text' data-l='Blue B2B - Loyalty Programs for corporate customers'>Blue B2B - Programas de Lealtad para clientes corporativos</div></div>
          <div class='item-service'><input type='checkbox' name='ChkBxLstServices' value='3' data-image='https://bluepureloyalty.com/app/images/popup/Talent.svg' data-service='Blue B2E - Programas de Incentivos para empleados' data-service-l='Blue B2E - Incentive Programs for employees' /> <div class='item-service-image'><img src='https://bluepureloyalty.com/app/images/popup/Talent.svg' /></div><div class='item-service-text' data-l='Blue B2E - Incentive Programs for employees'>Blue B2E - Programas de Incentivos para empleados</div></div>
          <div class='item-service'><input type='checkbox' name='ChkBxLstServices' value='4' data-image='https://bluepureloyalty.com/app/images/popup/SalesForce.svg' data-service='Blue Sales Force - Programas de Incentivos fuerza de ventas' data-service-l='Blue Sales Force - Incentive Programs for sales forces' /> <div class='item-service-image'><img src='https://bluepureloyalty.com/app/images/popup/SalesForce.svg' /></div><div class='item-service-text' data-l='Blue Sales Force - Incentive Programs for sales forces'>Blue Sales Force - Programas de Incentivos para fuerza de ventas</div></div>
          <div class='item-service'><input type='checkbox' name='ChkBxLstServices' value='5' data-image='https://bluepureloyalty.com/app/images/popup/Fans.svg' data-service='Blue Fans - Programas de Lealtad para aficionados a equipos deportivos' data-service-l='Blue Fans - Loyalty Programs for fans of sport teams' /> <div class='item-service-image'><img src='https://bluepureloyalty.com/app/images/popup/Fans.svg' /></div><div class='item-service-text' data-l='Blue Fans - Loyalty Programs for fans of sport teams'>Blue Fans - Programas de Lealtad para aficionados a equipos deportivos</div></div>
          <div class='item-service'><input type='checkbox' name='ChkBxLstServices' value='6' data-image='https://bluepureloyalty.com/app/images/popup/Gaming.svg' data-service='Blue Gaming - Programas de trivias, subastas y/o actividades interactivas' data-service-l='Blue Gaming - Loyalty Programs for trivia, bidding games & interactive activities' /> <div class='item-service-image'><img src='https://bluepureloyalty.com/app/images/popup/Gaming.svg' /></div><div class='item-service-text' data-l='Blue Gaming - Loyalty Programs for trivia, bidding games & interactive activities'>Blue Gaming - Programas de trivias, subastas y/o actividades interactivas</div></div>
          
          <!-- <div class="item-service-title-icon"><img src="https://cdn.myblueengine.com/DigitalFamily/Iconos/subicon-learninghub.svg" /></div> -->
          <div class="item-service-title" data-l="Building Blocks Services">Servicios Modulares</div>
          <div class='item-service'><input type='checkbox' name='ChkBxLstServices' value='7' data-image='https://bluepureloyalty.com/app/images/popup/Consulting.svg' data-service='Blue Consulting - Servicios de consultoría de Programas de Lealtad e Incentivos' data-service-l='Blue Consulting - Consulting services for Loyalty and Incentive Programs' /> <div class='item-service-image'><img src='https://bluepureloyalty.com/app/images/popup/Consulting.svg' /></div><div class='item-service-text' data-l='Blue Consulting - Consulting services for Loyalty and Incentive Programs'>Blue Consulting - Servicios de consultoría de Programas de Lealtad e Incentivos</div></div>
          <div class='item-service'><input type='checkbox' name='ChkBxLstServices' value='8' data-image='https://bluepureloyalty.com/app/images/popup/BigDataDataScience.svg' data-service='Blue Big Data & Data Science - Análisis estadísticos y modelos de valoración y predictivos' data-service-l='Blue Big Data & Data Science - Statistical analysis and valuation and predictive models' /> <div class='item-service-image'><img src='https://bluepureloyalty.com/app/images/popup/BigDataDataScience.svg' /></div><div class='item-service-text' data-l='Blue Big Data & Data Science - Statistical analysis and valuation and predictive models'>Blue Big Data & Data Science - Análisis estadísticos y modelos de valoración y predictivos</div></div>
          <div class='item-service'><input type='checkbox' name='ChkBxLstServices' value='9' data-image='https://bluepureloyalty.com/app/images/popup/VisualCommunication&GD.svg' data-service='Blue Visual Communication & Graphic Design – Diseño de materiales impresos y digitales' data-service-l='Blue Visual Communication & Graphic Design – Design of printed and digital media' /> <div class='item-service-image'><img src='https://bluepureloyalty.com/app/images/popup/VisualCommunication&GD.svg' /></div><div class='item-service-text' data-l='Blue Visual Communication & Graphic Design – Design of printed and digital media'>Blue Visual Communication & Graphic Design – Diseño de materiales impresos y digitales</div></div>
          <div class='item-service'><input type='checkbox' name='ChkBxLstServices' value='10' data-image='https://bluepureloyalty.com/app/images/popup/DigitalMarketing.svg' data-service='Blue Digital Marketing – Marketing digital, Google Ads, Google Shopping & Retargeting' data-service-l='Blue Digital Marketing – Digital marketing, Google Ads, Google Shopping & Retargeting' /> <div class='item-service-image'><img src='https://bluepureloyalty.com/app/images/popup/DigitalMarketing.svg' /></div><div class='item-service-text' data-l='Blue Digital Marketing – Digital marketing, Google Ads, Google Shopping & Retargeting'>Blue Digital Marketing – Marketing digital, Google Ads, Google Shopping & Retargeting</div></div>
          <div class='item-service'><input type='checkbox' name='ChkBxLstServices' value='11' data-image='https://bluepureloyalty.com/app/images/popup/Apps&MS.svg' data-service='Blue Apps & Mobile Solutions – Soluciones móviles a la medida' data-service-l='Blue Apps & Mobile Solutions – Tailor-made mobile solutions' /> <div class='item-service-image'><img src='https://bluepureloyalty.com/app/images/popup/Apps&MS.svg' /></div><div class='item-service-text' data-l='Blue Apps & Mobile Solutions – Tailor-made mobile solutions'>Blue Apps & Mobile Solutions – Soluciones móviles a la medida</div></div>
          <div class='item-service'><input type='checkbox' name='ChkBxLstServices' value='12' data-image='https://bluepureloyalty.com/app/images/popup/ECommerce&OS.svg' data-service='Blue e-Commerce & Online Stores - Definición, desarrollo, implementación y operación de tiendas en línea' data-service-l='Blue e-Commerce & Online Stores - Definition, development, implementation and operation of online stores' /> <div class='item-service-image'><img src='https://bluepureloyalty.com/app/images/popup/ECommerce&OS.svg' /></div><div class='item-service-text' data-l='Blue e-Commerce & Online Stores - Definition, development, implementation and operation of online stores'>Blue e-Commerce & Online Stores - Definición, desarrollo, implementación y operación de tiendas en línea</div></div>
          <div class='item-service'><input type='checkbox' name='ChkBxLstServices' value='13' data-image='https://bluepureloyalty.com/app/images/popup/Fulfillment&Logistics.svg' data-service='Blue Fulfillment & Logistics - Almacenamiento, manejo, empaquetado y envío de productos y premios' data-service-l='Blue Fulfillment & Logistics - Storage, handling, packaging and shipping of products and prizes' /> <div class='item-service-image'><img src='https://bluepureloyalty.com/app/images/popup/Fulfillment&Logistics.svg' /></div><div class='item-service-text' data-l='Blue Fulfillment & Logistics - Storage, handling, packaging and shipping of products and prizes'>Blue Fulfillment & Logistics - Almacenamiento, manejo, empaquetado y envío de productos y premios</div></div>
          <div class='item-service'><input type='checkbox' name='ChkBxLstServices' value='14' data-image='https://bluepureloyalty.com/app/images/popup/GiftCertificates.svg' data-service='Blue Gift Certificates - Diseño y desarrollo de certificados de regalo físicos y digitales' data-service-l='Blue Gift Certificates - Design and development of physical and digital gift certificates' /> <div class='item-service-image'><img src='https://bluepureloyalty.com/app/images/popup/GiftCertificates.svg' /></div><div class='item-service-text' data-l='Blue Gift Certificates - Design and development of physical and digital gift certificates'>Blue Gift Certificates - Diseño y desarrollo de certificados de regalo físicos y digitales</div></div>
          <div class='item-service'><input type='checkbox' name='ChkBxLstServices' value='15' data-image='https://bluepureloyalty.com/app/images/popup/ElectronicWallets.svg' data-service='Blue Electronic Wallets - Desarrollo de monederos electrónicos' data-service-l='Blue Electronic Wallets - Development of electronic wallets' /> <div class='item-service-image'><img src='https://bluepureloyalty.com/app/images/popup/ElectronicWallets.svg' /></div><div class='item-service-text' data-l='Blue Electronic Wallets - Development of electronic wallets'>Blue Electronic Wallets - Desarrollo de monederos electrónicos</div></div>
          <div class='item-service'><input type='checkbox' name='ChkBxLstServices' value='16' data-image='https://bluepureloyalty.com/app/images/popup/Benefits&Rewards.svg' data-service='Blue Benefits & Rewards Redemption Catalogue - Diseño, definición y administración de catálogos de canje en línea' data-service-l='Blue Benefits & Rewards Redemption Catalog - Design, definition and administration of catalogs for online redemption' /> <div class='item-service-image'><img src='https://bluepureloyalty.com/app/images/popup/Benefits&Rewards.svg' /></div><div class='item-service-text' data-l='Blue Benefits & Rewards Redemption Catalog - Design, definition and administration of catalogs for online redemption'>Blue Benefits & Rewards Redemption Catalogue - Diseño, definición y administración de catálogos de canje en línea</div></div>
          <div class='item-service'><input type='checkbox' name='ChkBxLstServices' value='17' data-image='https://bluepureloyalty.com/app/images/popup/ContactCenter.svg' data-service='Blue Contact Center - Estaciones de contacto vía telefónica y correo electrónico compartidas o dedicadas' data-service-l='Blue Contact Center - Shared or dedicated phone and email contact stations' /> <div class='item-service-image'><img src='https://bluepureloyalty.com/app/images/popup/ContactCenter.svg' /></div><div class='item-service-text' data-l='Blue Contact Center - Shared or dedicated phone and email contact stations'>Blue Contact Center - Estaciones de contacto vía telefónica y correo electrónico compartidas o dedicadas</div></div>
          <div class='item-service'><input type='checkbox' name='ChkBxLstServices' value='18' data-image='https://bluepureloyalty.com/app/images/popup/Design&DevelopmentWebsites.svg' data-service='Blue Design and development of Websites - Diseño y desarrollo de sitios web' data-service-l='Blue Design and development of Websites - Design and development of websites' /> <div class='item-service-image'><img src='https://bluepureloyalty.com/app/images/popup/Design&DevelopmentWebsites.svg' /></div><div class='item-service-text' data-l='Blue Design and development of Websites - Design and development of websites'>Blue Design and development of Websites - Diseño y desarrollo de sitios web</div></div>
          <div class='item-service'><input type='checkbox' name='ChkBxLstServices' value='19' data-image='https://bluepureloyalty.com/app/images/popup/Email&TextMkt.svg' data-service='Blue Email & Text Marketing - Campañas de correos y mensajes de texto masivos' data-service-l='Blue Email & Text Marketing - Mass email and text message campaigns' /> <div class='item-service-image'><img src='https://bluepureloyalty.com/app/images/popup/Email&TextMkt.svg' /></div><div class='item-service-text' data-l='Blue Email & Text Marketing - Mass email and text message campaigns'>Blue Email & Text Marketing - Campañas de correos y mensajes de texto masivos</div></div>
          <div class='item-service'><input type='checkbox' name='ChkBxLstServices' value='20' data-image='https://bluepureloyalty.com/app/images/popup/WhatsAppMkt.svg' data-service='Blue WhatsApp Marketing - Canal de servicio a clientes vía WhatsApp' data-service-l='Blue WhatsApp Marketing - Customer service channel via WhatsApp' /> <div class='item-service-image'><img src='https://bluepureloyalty.com/app/images/popup/WhatsAppMkt.svg' /></div><div class='item-service-text' data-l='Blue WhatsApp Marketing - Customer service channel via WhatsApp'>Blue WhatsApp Marketing - Canal de servicio a clientes vía WhatsApp</div></div>
          <div class='item-service'><input type='checkbox' name='ChkBxLstServices' value='21' data-image='https://bluepureloyalty.com/app/images/popup/Gamification.svg' data-service='Blue Gamification - Dinámicas interactivas digitales para incrementar el engagement' data-service-l='Blue Gamification - Digital interactive dynamics to increase engagement' /> <div class='item-service-image'><img src='https://bluepureloyalty.com/app/images/popup/Gamification.svg' /></div><div class='item-service-text' data-l='Blue Gamification - Digital interactive dynamics to increase engagement'>Blue Gamification - Dinámicas interactivas digitales para incrementar el engagement</div></div>
          <div class='item-service'><input type='checkbox' name='ChkBxLstServices' value='22' data-image='https://bluepureloyalty.com/app/images/popup/VirtualReality&AR.svg' data-service='Blue Virtual Reality & Augmented Reality - Experiencias en realidad virtual y realidad aumentada' data-service-l='Blue Virtual Reality & Augmented Reality - Experiences in virtual reality and augmented reality' /> <div class='item-service-image'><img src='https://bluepureloyalty.com/app/images/popup/VirtualReality&AR.svg' /></div><div class='item-service-text' data-l='Blue Virtual Reality & Augmented Reality - Experiences in virtual reality and augmented reality'>Blue Virtual Reality & Augmented Reality - Experiencias en realidad virtual y realidad aumentada</div></div>
          <div class='item-service'><input type='checkbox' name='ChkBxLstServices' value='23' data-image='https://bluepureloyalty.com/app/images/popup/Trivia&OnlineAuctions.svg' data-service='Blue Trivia & Online Auctions - Trivias y Subastas online' data-service-l='Blue Trivia & Online Auctions - Trivia and Online Auctions' /> <div class='item-service-image'><img src='https://bluepureloyalty.com/app/images/popup/Trivia&OnlineAuctions.svg' /></div><div class='item-service-text' data-l='Blue Trivia & Online Auctions - Trivia and Online Auctions'>Blue Trivia & Online Auctions - Trivias y Subastas online</div></div>
          <div class='item-service'><input type='checkbox' name='ChkBxLstServices' value='24' data-image='https://bluepureloyalty.com/app/images/popup/Bots.svg' data-service='Blue Bots for Automatic Responses - Bot en Whatsapp de atención con respuestas automatizadas y funcionalidades' data-service-l='Blue Bots for Automatic Responses - Bot in WhatsApp of attention with automated responses and functionalities' /> <div class='item-service-image'><img src='https://bluepureloyalty.com/app/images/popup/Bots.svg' /></div><div class='item-service-text' data-l='Blue Bots for Automatic Responses - Bot in WhatsApp of attention with automated responses and functionalities'>Blue Bots for Automatic Responses - Bot en Whatsapp de atención con respuestas automatizadas y funcionalidades</div></div>
          <div class='item-service'><input type='checkbox' name='ChkBxLstServices' value='25' data-image='https://bluepureloyalty.com/app/images/popup/procurement.svg' data-service='Blue Procurement - Negociación y convenios comerciales con diversas empresas de productos y servicios' data-service-l='Blue Procurement - Negotiation and commercial agreements with product and service companies' /> <div class='item-service-image'><img src='https://bluepureloyalty.com/app/images/popup/procurement.svg' /></div><div class='item-service-text' data-l='Blue Procurement - Negotiation and commercial agreements with product and service companies'>Blue Procurement - Negociación y convenios comerciales con diversas empresas de productos y servicios</div></div>
          <div class='item-service'><input type='checkbox' name='ChkBxLstServices' value='26' data-image='https://bluepureloyalty.com/app/images/popup/bi.svg' data-service='Blue BI - Modelos de Basket Analysis y RFM' data-service-l='Blue BI - Basket Analysis and RFM models' /> <div class='item-service-image'><img src='https://bluepureloyalty.com/app/images/popup/bi.svg' /></div><div class='item-service-text' data-l='Blue BI - Basket Analysis and RFM models'>Blue BI - Modelos de Basket Analysis y RFM</div></div>
          <div class='item-service'><input type='checkbox' name='ChkBxLstServices' value='27' data-image='https://bluepureloyalty.com/app/images/popup/ai.svg' data-service='Blue AI - Modelos de análisis predictivos para identificar tendencias y comportamientos futuros' data-service-l='Blue AI - Predictive analytics models to recognize future trends and behaviors' /> <div class='item-service-image'><img src='https://bluepureloyalty.com/app/images/popup/ai.svg' /></div><div class='item-service-text' data-l='Blue AI - Predictive analytics models to recognize future trends and behaviors'>Blue AI - Modelos de análisis predictivos para identificar tendencias y comportamientos futuros</div></div>
          <div class='item-service'><input type='checkbox' name='ChkBxLstServices' value='28' data-image='https://bluepureloyalty.com/app/images/popup/codes.svg' data-service='Blue Codes - Códigos digitales promocionales validados en el POS, sitio web y/o App' data-service-l='Blue Codes - Promotional codes which are validated at POS, web site and/or App' /> <div class='item-service-image'><img src='https://bluepureloyalty.com/app/images/popup/codes.svg' /></div><div class='item-service-text' data-l='Blue Codes - Promotional codes which are validated at POS, web site and/or App'>Blue Codes - Códigos digitales promocionales validados en el POS, sitio web y/o App</div></div>
          <div class='item-service'><input type='checkbox' name='ChkBxLstServices' value='29' data-image='https://bluepureloyalty.com/app/images/popup/send.svg' data-service='Blue Send - Aplicativo para el envío masivo de correos electrónicos y mensajes de texto' data-service-l='Blue Send - Application for mass sending of emails and text messages' /> <div class='item-service-image'><img src='https://bluepureloyalty.com/app/images/popup/send.svg' /></div><div class='item-service-text' data-l='Blue Send - Application for mass sending of emails and text messages'>Blue Send - Aplicativo para el envío masivo de correos electrónicos y mensajes de texto</div></div>
          <div class='item-service'><input type='checkbox' name='ChkBxLstServices' value='30' data-image='https://bluepureloyalty.com/app/images/popup/BlueWallet.svg' data-service='Blue Wallet - App de Blue Pure Loyalty para plataformas iOS y Android para Programas de Lealtad' data-service-l='Blue Wallet - App of Blue Pure Loyalty for iOS and Android platforms for Loyalty Programs' /> <div class='item-service-image'><img src='https://bluepureloyalty.com/app/images/popup/BlueWallet.svg' /></div><div class='item-service-text' data-l='Blue Wallet - App of Blue Pure Loyalty for iOS and Android platforms for Loyalty Programs'>Blue Wallet - App de Blue Pure Loyalty para plataformas iOS y Android para Programas de Lealtad</div></div>
          <div class='item-service'><input type='checkbox' name='ChkBxLstServices' value='31' data-image='app/images/popup/survey.svg' data-service='Blue Surveys - Desarrollo, aplicación y análisis de resultados de encuestas de satisfacción por medio de internet' data-service-l='Blue Surveys - Development, application and analysis of results of satisfaction surveys via web' /> <div class='item-service-image'><img src='app/images/popup/survey.svg' /></div><div class='item-service-text' data-l='Blue Surveys - Development, application and analysis of results of satisfaction surveys via web'>Blue Surveys - Desarrollo, aplicación y análisis de resultados de encuestas de satisfacción por medio de internet</div></div>
          <div class='item-service'><input type='checkbox' name='ChkBxLstServices' value='32' data-image='https://bluepureloyalty.com/app/images/popup/animations.svg' data-service='Blue Animations - Animaciones interactivas' data-service-l='Blue Animations - Interactive animations' /> <div class='item-service-image'><img src='https://bluepureloyalty.com/app/images/popup/animations.svg' /></div><div class='item-service-text' data-l='Blue Animations - Interactive animations'>Blue Animations - Animaciones interactivas</div></div>
          
          <div class="mppm-service-options">
            <button class="btn btn-primary ClosePopupServices" type="button" data-l="Done">Listo</button>
          </div>
          
        </div>
  
      </div>
    </div>
<!--/formulario-->
    </div>
</section>
