<!-- >>>>>>>>>>>>>>>>>>>>>>>>>-->
  <!-- UNETE AL BLUE TEAM ####-->
  <div class="modal fade" role="dialog" id="unete">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header text-center justify-content-center">
          <h2><span data-en="Join the Blue Team">Únete al Blue Team</span></h2>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h4 data-en="Be part of a winning team.">Se parte de un equipo ganador.</h4>
          <h5 data-en="Join the leading team creating Loyalty.">Únete al equipo líder de creación de Lealtad.</h5>
          <div class="row my-3">
            <div class="col-md col-12 jointeamblue">
              <p data-en="Enjoy a productive and collaborative environment with highly talented colleagues. Develop your career and be part of a global company that will provide you with the necessary to enhance your talents together with innovative and creative team-working colleagues.">Disfruta de un ambiente productivo y colaborativo junto a colegas con gran talento. Desarrolla tu carrera y sé parte de una empresa global que te proveerá de lo necesario para potencializar tus talentos junto a compañeros innovadores y creativos que trabajan equipo.</p>
              <p data-en="<strong>Blue Pure Loyalty<sup>®</sup></strong> is a company that allows to achieve high levels of satisfaction and business results."><strong>Blue Pure Loyalty<sup>®</sup></strong> es una empresa para lograr grandes niveles de satisfacción y resultados de negocio.</p>
              <p data-en="<strong>Join the best team, join the Blue Team.</strong>"><b>Únete al mejor equipo,<br>únete al Blue Team.</b></p>
            </div>
            <div class="col-md col-12 uneteimg" >
              <!--<img src="app/img/globounete.jpg" alt="Blue Team" class="d-block w-100">-->
            </div>
        </div>


          <h4 class="my-5" data-en="Select the area of interest">Selecciona el área de tú interés</h4>



          <div class="btn-group btn-group-toggle" role="group" data-toggle="buttons">
            <input class="btn-check" type="radio" name="unete" checked="checked" value="Marketing" id="marketing">
            <label class="btn btn-light" for="marketing"><span data-en="Marketing">Mercadotecnia</span></label>
            
            <input class="btn-check" type="radio" name="unete" value="Tecnología" id="tecnologia">
            <label class="btn btn-light" for="tecnologia"><span data-en="Technology">Tecnología</span></label>
            
            <input class="btn-check" type="radio" name="unete" value="Contact Center" id="contact_center">
            <label class="btn btn-light" for="contact_center"><span>Contact Center</span></label>
            
            <input class="btn-check" type="radio" name="unete" value="Diseño y Comunicación" id="diseno_comunicacion">
            <label class="btn btn-light" for="diseno_comunicacion"><span data-en="Design and Communication">Diseño y Comunicación</span></label>
            
            <input class="btn-check" type="radio" name="unete" value="Data Science" id="data_science">
            <label class="btn btn-light" for="data_science"><span data-en="Data Science">Data Science</span></label>
            
            <input class="btn-check" type="radio" name="unete" value="Compras" id="compras">
            <label class="btn btn-light" for="compras"><span data-en="Procurement">Compras</span></label>
            
            <input class="btn-check" type="radio" name="unete" value="Fulfillment" id="fulfillment">
            <label class="btn btn-light" for="fulfillment"><span data-en="Fulfillment">Fulfillment</span></label>
            
            <input class="btn-check" type="radio" name="unete" value="Otros" id="otros">
            <label class="btn btn-light" for="otros"><span data-en="Other">Otros</span></label>
        </div>
        
            <div class="text-center my-5">
              <a class="btn btn-secondary joinbtn" href="mailto:info@bluepureloyalty.com?subject=Mercadotecnia" data-en="Send your CV">Envía tu CV</a>
            </div>
        </div>
      </div>
    </div>
  </div>