
<div class="footer-socials p-5">

  <div class="text-center mt-5"><img src="../app/images/blue/PoweredbyBlue.svg" class="powered"></div>
  <div class="container mt-5">
    <div class="row justify-content-center text-center">
    <div class="col-6">
        <div class="row justify-content-center">
          <div class="col">
            <a href="https://www.facebook.com/Blue-Pure-Loyalty-155921304583101/" target="_blank"><i class="fa-brands fa-facebook fa-lg"></i></a>
          </div>
          <div class="col">
            <a href="https://www.linkedin.com/company/blue-pure-loyalty/" target="_blank"><i class="fa-brands fa-linkedin fa-lg"></i></a>
          </div>
          <div class="col">
            <a href="https://twitter.com/bluepureloyalty" target="_blank"><i class="fa-brands fa-x-twitter fa-lg"></i></a>
          </div>
          <div class="col">
            <a href="https://www.instagram.com/bluepureloyalty" target="_blank"><i class="fa-brands fa-instagram fa-lg"></i></a>
          </div>
          <div class="col">
            <a href="https://www.threads.net/@bluepureloyalty" target="_blank"><i class="fa-brands fa-threads fa-lg"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>



</div>

<div class="blue-prefooter py-2">
  <div class="container">
    <div class="row text-center">
      <div class="col-sm-3">
        <button data-bs-toggle="modal" data-bs-target="#unete" data-l="Join the Blue Team">Únete al Blue Team</button>
      </div>
      <div class="col-sm-3">
        <button data-bs-toggle="modal" data-bs-target="#aviso" data-l="Privacy Policy">Aviso de Privacidad</button>
      </div>
      <div class="col-sm-6">
        <span data-l="Operadora ROFERI S.A. de C.V. © All rights reserved 2024.">Operadora ROFERI S.A. de C.V. 2024 Todos los Derechos Reservados.</span>
      </div>
    </div>
  </div>
</div>



<importer src="components/footer_aviso.html"></importer>
<importer src="components/footer_unete.html"></importer>

<blue-footer no-powered></blue-footer>

