  <!-- FOOTER ####-->
  <footer style="background: #e1e1e1; margin-top: -40px;">
    <div class="container">
      <div class="text-center"><img src="app/images/blue/PoweredbyBlue.svg" class="powered"></div>
      <div class="row mt-4 justify-content-center">
        <div class="text-center">
          <div class="row socials">
            <a href="https://www.facebook.com/Blue-Pure-Loyalty-155921304583101/" target="_blank"><i class="fa-brands fa-facebook fa-lg"></i></a>
            <a href="https://www.linkedin.com/company/blue-pure-loyalty/" target="_blank"><i class="fa-brands fa-linkedin fa-lg"></i></a>
            <a href="https://twitter.com/bluepureloyalty" target="_blank"><i class="fa-brands fa-x-twitter fa-lg"></i></a>
            <a href="https://www.instagram.com/bluepureloyalty" target="_blank"><i class="fa-brands fa-instagram fa-lg"></i></a>
            <a href="https://www.threads.net/@bluepureloyalty" target="_blank"><i class="fa-brands fa-threads fa-lg"></i></a>
</div>
        </div>
      </div>
    </div>
    <!-- FINAL ####-->
    <div class="container-fluid copys">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-2 col-12 text-center"><a href="#" data-toggle="modal" data-target="#unete"
              data-l="Join the Blue Team">Únete al Blue Team</a></div>
          <div class="col-md-4 offset-md-2 col-12 text-center"><a href="#" data-toggle="modal" data-target="#aviso"
              data-l="Privacy Policy">Aviso de Privacidad</a></div>
          <div class="col-md-4 col-12 text-center">
             <span data-l="© Copyright 2024. Operadora ROFERI S.A. de C.V. All rights reserved.">© Copyright 2024. Operadora ROFERI S.A. de C.V. Todos los Derechos Reservados.</span>
          </div>


        </div>
      </div>

    </div>

    <!-- >>>>>>>>>>>>>>>>>>>>>>>>>-->
    <!-- PLECA FINAL ####-->
    <div class="bluemx mt-3">
      <div class="text-center"><img src="app/images/blue/Blue_Circle.svg"/ class="bluecircle"></div>
    </div>
    <!-- >>>>>>>>>>>>>>>>>>>>>>>>>-->

  </footer>