<nav class="navbar navbar-expand-lg navbar-dark fixed-top ">
    <div class="container-fluid">
        <a class="navbar-brand" href="index.html">
            <img src="app/images/blue/BluePureLoyalty.svg" height="48" alt="Logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Menu">
            <span class="fa fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="index.html#descubre">DESCUBRE</a></li>
                <li class="nav-item"><a class="nav-link" href="quienes-somos.html">¿QUIÉNES SOMOS?</a></li>
                <li class="nav-item"><a class="nav-link" href="por-que-blue.html">¿POR QUÉ BLUE?</a></li>
                <li class="nav-item"><a class="nav-link" href="loyalty.html">LOYALTY</a></li>
                <li class="nav-item"><a class="nav-link" href="soluciones.html">SOLUCIONES</a></li>
                <li class="nav-item"><a class="nav-link" href="alcance.html">ALCANCE</a></li>
                <li class="nav-item"><a class="nav-link" href="procesos.html">PROCESOS</a></li>
                <li class="nav-item"><a class="nav-link" href="resultados.html">RESULTADOS</a></li>
                <li class="nav-item"><a class="nav-link" href="clientes.html">CLIENTES</a></li>
                <li class="nav-item"><a class="nav-link" href="noticias.html">NOTICIAS</a></li>
                <li class="nav-item"><a class="nav-link" href="contacto.html">CONTACTO</a></li>
                <li class="nav-item localizationmenu">
                    <a href="#es" class="nav-link" data-en="SPANISH">ESPAÑOL</a>
                    <a href="#en" class="nav-link" data-en="INGLÉS">ENGLISH</a>
                    <div></div>
                    <a href="#" class="nav-link active-country" data-en="MEXICO">MÉXICO</a>
                    <a href="#" class="nav-link" data-en="USA">EUA</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="position-absolute bottom-0 start-0 z-3 w-100 pleca-nav"><blue-pleca></blue-pleca></div>
</nav>
